crystal-toolkit
mofchecker
dash_bootstrap_components
sklearn # needed for crystaltoolkit ...
scikit-image # ...
dash_daq # ...
flask_caching # ...
habanero # ...
dash_mp_components # ...
robocrys # ...
maggma # ...
dscribe # ... 