uvicorn[standard]~=0.12.3
fastapi~=0.74.0
crystal-toolkit~=2020.11.1
mofchecker~=0.3.1
dash_bootstrap_components~=0.10.7
scikit-learn~=0.23.2 # needed for crystaltoolkit ...
scikit-image~=0.17.2
dash_daq~=0.5.0
flask_caching~=1.9.0
habanero~=0.7.4 
dash_mp_components~=0.1.9
robocrys~=0.2.6
maggma~=0.24.2
dscribe~=0.4.0
